.img-thumbnail{
	border:1px solid #333;
	padding:10px;
	margin-bottom:10%;
	background-color: #444444;
	border-radius: 8px;
}

.container{
	margin-top:2%;
	
}
.container-outer{
	border:hidden;
	
}
.img{
	width:100%;
	margin:auto;
}
.img4{
	
}
.main-body{
	background-color: #222;
}
.img-responsive{
	border: 1px solid black;
}
.jumbotron{
	 
}
h2{
	color: #ffffff;
}

h3,h4,h5{
	color:white;
	background-color: #398439;
	border-color: #3C763D;
	padding: 5px;
	border-radius: 5px;
}
.bg-info{
	padding:5px;
	border-radius: 5px;
	background-color: #444444;
}
.projects{
	height:50%;
	max-height:300px;
	overflow-y: scroll;
	padding-right:15px;
}
p{
	color:#C0C0C0;
}
.form-label{
	color:#C0C0C0;
}
.btn-project{
	margin-bottom: 5px;
	font-size: large;
	
}
.dropdown-menu{
	background-color: #ddd;
}
.dropdown-item{
}
.normal-ul{
	list-style:none;
	margin-bottom:10px;
	color:#C0C0C0;
}
.resume-div{
	
}
